@model FractionsQuestion


@{
    <div>
    hello
    <div class="fraction">
        <p class="denominator">
            @Model.Denominator1</p>
        <p class="numerator">@Model.Numerator1</p>
    </div>
    <p class="display-3" style="margin: 0;">
        @Model.Operator
    </p>
    <div class="fraction">
        <p class="denominator">@Model.Denominator2</p>
        <p class="numerator">@Model.Numerator2</p>
    </div>
</div>
}